# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

In [2]:
import csv
with open ('/Users/kdgulko/dsi/DSI_SM_3/projects/project-01/assets/sat_scores.csv', 'rU') as f:
    reader = csv.reader(f)
    for row in reader:
        print row

IOError: [Errno 2] No such file or directory: '/Users/kdgulko/dsi/DSI_SM_3/projects/project-01/assets/sat_scores.csv'

##### 1. What does the data describe?

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

category names  
data type 
descriptions

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [64]:
sat_list = []
for row in rows:
    split_sat = row.split(",")
    sat_list.append(split_sat)

##### 5. Print the data

In [65]:
print(sat_list)

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514'], ['']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [87]:
new_sat_list = sat_list[1:-1]
print new_sat_list

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551']]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [71]:
state_names = [row[0] for row in new_sat_list]
print state_names

['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All', '']

##### 8. Print the types of each column

In [89]:
for item in new_sat_list[0]:
    print type(item)

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [90]:
reassigned_data = []
for key, row in enumerate(new_sat_list):
    reassigned_data.append([row[0]])
    for item in row[1:]:
        reassigned_data[key].append(int(item))
        
# for item in reassigned_data[0]:
#     print type(item)   
reassigned_data

[['CT', 82, 509, 510],
 ['NJ', 81, 499, 513],
 ['MA', 79, 511, 515],
 ['NY', 77, 495, 505],
 ['NH', 72, 520, 516],
 ['RI', 71, 501, 499],
 ['PA', 71, 500, 499],
 ['VT', 69, 511, 506],
 ['ME', 69, 506, 500],
 ['VA', 68, 510, 501],
 ['DE', 67, 501, 499],
 ['MD', 65, 508, 510],
 ['NC', 65, 493, 499],
 ['GA', 63, 491, 489],
 ['IN', 60, 499, 501],
 ['SC', 57, 486, 488],
 ['DC', 56, 482, 474],
 ['OR', 55, 526, 526],
 ['FL', 54, 498, 499],
 ['WA', 53, 527, 527],
 ['TX', 53, 493, 499],
 ['HI', 52, 485, 515],
 ['AK', 51, 514, 510],
 ['CA', 51, 498, 517],
 ['AZ', 34, 523, 525],
 ['NV', 33, 509, 515],
 ['CO', 31, 539, 542],
 ['OH', 26, 534, 439],
 ['MT', 23, 539, 539],
 ['WV', 18, 527, 512],
 ['ID', 17, 543, 542],
 ['TN', 13, 562, 553],
 ['NM', 13, 551, 542],
 ['IL', 12, 576, 589],
 ['KY', 12, 550, 550],
 ['WY', 11, 547, 545],
 ['MI', 11, 561, 572],
 ['MN', 9, 580, 589],
 ['KS', 9, 577, 580],
 ['AL', 9, 559, 554],
 ['NE', 8, 562, 568],
 ['OK', 8, 567, 561],
 ['MO', 8, 577, 577],
 ['LA', 7, 564, 562],
 ['WI', 6, 584, 596],
 ['AR', 6, 562, 550],
 ['UT', 5, 575, 570],
 ['IA', 5, 593, 603],
 ['SD', 4, 577, 582],
 ['ND', 4, 592, 599],
 ['MS', 4, 566, 551]]

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [1]:
st_rate = {}
st_math = {}
st_verbal = {}

for i in reassigned_data:
    st_rate[i[0]] = row[1]
    st_verbal[i[0]] = row[2]
    st_math[i[0]] = row[3]
    
st_data = {}
for row in reassigned_data:
    st_data[row[0]] = row[1:] 
    
# state_dictionary = {}
# for state_entries in data:
#     list_scores = []
#     for index, element in enumerate(state_entries):
#         if index == 0:
#             pass
#         else:
#             list_scores.append(element)
#     state_dictionary[state_entries[0]] = list_scores 
      
# print state_dictionary
# print ''
# print state_dictionary['CA']
    
st_data 
st_math
st_rate

NameError: name 'reassigned_data' is not defined

##### 11. Create a dictionary with the values for each of the numeric columns

## Step 3: Describe the data

##### 12. Print the min and max of each column

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.